@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
    font-family: 'Poppins', sans-serif;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .id{
    width: 10%;
  }
  .country{
    width: 15%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
